* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.job-card {
  background-color: beige;
  color: rgb(54, 55, 54);
  height: 30%;
  width: 40%;
  border-radius: 15px;
  padding: 2rem;
  line-height: 2;
  text-transform: capitalize;

  .passed-date {
    background-color: azure;
    padding: 0 1rem;
    border-radius: 15px;
    width: fit-content;
  }
}
