// /* top of page */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $page-margin-mobile;
  // z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .logo {
    font-size: 1.5rem;
  }

  ul {
    display: flex;
    li {
      padding: 0 1rem;
      list-style: none;
      font-weight: bold;
    }
  }
  .text-gradient {
    -webkit-text-fill-color: rgba(178, 17, 193, 0.598);
  }

  @include tablet {
    padding: $page-margin-tablet;
  }
}
