.search-job {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-text {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .job-input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    margin: 1rem 0;
  }
}
